<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      My Portfolio
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
	<ion-card>
		<ion-title>
		CV Bot- <small>Chat to create your Resume</small>
		</ion-title>
		<ion-label>
			
		</ion-label>
	  <ion-card-content>
	  	<img src="https://ph-files.imgix.net/b29e93e6-681e-4685-a2f2-c3c662025d74?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=635&h=380&fit=max">
	    Create your professional resume/CV in minutes via a simple and fun chat. Choose the look of your CV/resume from our collection of professional templates and download in PDF. Developers can hook to the API to create widgets or their white-labeled Resume Builder
	  </ion-card-content>
	  <ion-item>
	    <ion-label>Millenials, AI, ML, Bots</ion-label>
	    <ion-button fill="outline" slot="end" href="cvbot.ml">View Project</ion-button>
	  </ion-item>

	</ion-card>

	<ion-card>
		<ion-title>
		Dizcvovery Network
		</ion-title>
		<ion-label>
			
		</ion-label>
	  <ion-card-content>
	  	<img src="https://img.youtube.com/vi/xlXfdKXuSU0/0.jpg">
	    EARN AS YOU DISCOVER THE BEST OF THE WEB <br>
		Your time and opinion counts - earn when you read, like, comment, share and save web content
	  </ion-card-content>
	  <ion-item>
	    <ion-label>AI, ML, Blockchain</ion-label>
	    <ion-button fill="outline" slot="end" href="dizcovery.network">View Project</ion-button>
	  </ion-item>

	</ion-card>

	<!-- <ion-card>
		<ion-title>
		Shopily Ecommerce Stores
		</ion-title>
		<ion-label>
			
		</ion-label>
	  <ion-card-content>
	  	<img src="https://drive.google.com/open?id=1GKa4Az_jvmViVhOl20dbTowHAbWky5nN" />
	    <h4>Shopily - Easily and Quickly Create a proffessional website or ecommerce store... </h4><br />
		If you already sell on WhatsApp, FaceBook, Twitter or Instagram, then you can create and manage your online store with Shopily. Launch a professional, You can create and manage your own online store. It is Easy, Affordable and Takes Less Than 5 Minutes
	  </ion-card-content>
	  <ion-item>
	    <ion-label>Ecommerce, Automation, Social</ion-label>
	    <ion-button fill="outline" slot="end" href="dizcovery.network">View Project</ion-button>
	  </ion-item>

	</ion-card> -->

	<ion-card>
		<ion-card-header>
	    <ion-title>
	     Want to get in touch? 
	    </ion-title>
		</ion-card-header>
	  <ion-item href="https://twitter.com/timchosen" class="activated">
	    <ion-icon name="logo-twitter" slot="start" color="secondary"></ion-icon>
	    <ion-label color="secondary">Twitter @timchosen</ion-label>
	  </ion-item>

	  <ion-item href="https://medium.com/@timchosen">
	    <ion-icon color="secondary" name=globe slot="start"></ion-icon>
	    <ion-label color="secondary">Read my blogs on Medium</ion-label>
	  </ion-item>

	  <ion-item class="activated" href="https://github.com/cavewebs">
	    <ion-icon  color="secondary" name="logo-github" slot="start"></ion-icon>
	    <ion-label color="secondary">My projects on Github</ion-label>
	  </ion-item>

	  <ion-item>
	    <ion-icon color="secondary" name="logo-linkedin" slot="start"></ion-icon>
	    <ion-label color="secondary">Connect with me on Linkedin</ion-label>
	  </ion-item>
	</ion-card>

</ion-content>
